In [46]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

import re

In [32]:
#Data
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
all_data = [train_df, test_df]

In [33]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [34]:
#Ticket class
train_df[["Pclass","Survived"]].groupby(["Pclass"], as_index = False).mean()

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [35]:
#Sex
train_df[["Sex","Survived"]].groupby(["Sex"], as_index = False).mean()

      Sex  Survived
0  female  0.742038
1    male  0.188908

In [38]:
#Family size
for data in all_data:
    data['family_size'] = data['SibSp'] + data['Parch'] + 1
train_df[["family_size","Survived"]].groupby(["family_size"], as_index = False).mean()

   family_size  Survived
0            1  0.303538
1            2  0.552795
2            3  0.578431
3            4  0.724138
4            5  0.200000
5            6  0.136364
6            7  0.333333
7            8  0.000000
8           11  0.000000

In [39]:
#Being alone
for data in all_data:
    data['is_alone'] = 0
    data.loc[data['family_size'] == 1, 'is_alone'] = 1
train_df[["is_alone","Survived"]].groupby(["is_alone"], as_index = False).mean()

   is_alone  Survived
0         0  0.505650
1         1  0.303538

In [40]:
#Embarked location
#We replace missing data with 'S' because it is the most occured value
for data in all_data:
    data['Embarked'] = data['Embarked'].fillna('S')
train_df[["Embarked","Survived"]].groupby(["Embarked"], as_index = False).mean()

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.339009

In [41]:
#Fare
#We replace missing data with the median.
for data in all_data:
    data['Fare'] = data['Fare'].fillna(data['Fare'].median())
    train_df['category_fare'] = pd.qcut(train_df['Fare'], 4)
train_df[["category_fare","Survived"]].groupby(["category_fare"], as_index = False).mean()

     category_fare  Survived
0   (-0.001, 7.91]  0.197309
1   (7.91, 14.454]  0.303571
2   (14.454, 31.0]  0.454955
3  (31.0, 512.329]  0.581081

In [43]:
#Age
#We fill in missing data with random numbers between (average age minus standard deviation) and (average age plus standard deviation)
for data in all_data:
    avg_age = data['Age'].mean()
    std_age = data['Age'].std()
    null_age = data['Age'].isnull().sum()
    
    random_list = np.random.randint(avg_age - std_age, avg_age + std_age, size = null_age)
    data['Age'][np.isnan(data['Age'])] = random_list
    data['Age'] = data['Age'].astype(int)
train_df['category_age'] = pd.cut(train_df['Age'], 5)
train_df[["category_age","Survived"]].groupby(["category_age"], as_index = False).mean()

C:\Users\chris\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

    category_age  Survived
0  (-0.08, 16.0]  0.530973
1   (16.0, 32.0]  0.358744
2   (32.0, 48.0]  0.361111
3   (48.0, 64.0]  0.434783
4   (64.0, 80.0]  0.090909

In [51]:
#Name/Title

def get_title(name):
    title_search = re.search(' ([A-Za-z]+)\. ', name)
    if title_search:
        return title_search.group(1)
    return ""

for data in all_data:
    data['title'] = data['Name'].apply(get_title)
    
for data in all_data:
    data['title'] = data['title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'],'Rare')
    data['title'] = data['title'].replace('Mlle','Miss')
    data['title'] = data['title'].replace('Ms','Miss')
    data['title'] = data['title'].replace('Mme','Mrs')
    
print(pd.crosstab(train_df['title'], train_df['Sex']))
print(train_df[['title','Survived']].groupby(['title'], as_index = False).mean())

Sex     female  male
title
Master       0    40
Miss       185     0
Mr           0   517
Mrs        126     0
Rare         3    20
    title  Survived
0  Master  0.575000
1    Miss  0.702703
2      Mr  0.156673
3     Mrs  0.793651
4    Rare  0.347826

In [52]:
#Mapping Data to integer values

for data in all_data:
    
    #Sex
    sex_map = { 'female':0, 'male':1}
    data['Sex'] = data['Sex'].map(sex_map).astype(int)
    
    #Title
    title_map = {'Mr':1, 'Miss':2, 'Mrs':3, 'Master':4, 'Rare':5}
    data['title'] = data['title'].map(title_map)
    data['title'] = data['title'].fillna(0)

    #Embarked
    embark_map = {'S':0, 'C':1, 'Q':2}
    data['Embarked'] = data['Embarked'].map(embark_map).astype(int)

    #Fare
    data.loc[ data['Fare'] <= 7.91, 'Fare']                            = 0
    data.loc[(data['Fare'] > 7.91) & (data['Fare'] <= 14.454), 'Fare'] = 1
    data.loc[(data['Fare'] > 14.454) & (data['Fare'] <= 31), 'Fare']   = 2
    data.loc[ data['Fare'] > 31, 'Fare']                               = 3
    data['Fare'] = data['Fare'].astype(int)

    #Age
    data.loc[ data['Age'] <= 16, 'Age']                       = 0
    data.loc[(data['Age'] > 16) & (data['Age'] <= 32), 'Age'] = 1
    data.loc[(data['Age'] > 32) & (data['Age'] <= 48), 'Age'] = 2
    data.loc[(data['Age'] > 48) & (data['Age'] <= 64), 'Age'] = 3
    data.loc[ data['Age'] > 64, 'Age']                        = 4
    
#List of columns to drop
drop_elements = ["Name", "Ticket", "Cabin", "SibSp", "Parch", "family_size"]

#Drop columns from both data sets
train_df = train_df.drop(drop_elements, axis = 1)
train_df = train_df.drop(['PassengerId','category_fare', 'category_age'], axis = 1)
test_df = test_df.drop(drop_elements, axis = 1)

#Print ready to use data
print(train_df.head(10))

   Survived  Pclass  Sex  Age  Fare  Embarked  is_alone  title
0         0       3    1    1     0         0         0      1
1         1       1    0    2     3         1         0      3
2         1       3    0    1     1         0         1      2
3         1       1    0    2     3         0         0      3
4         0       3    1    2     1         0         1      1
5         0       3    1    2     1         2         1      1
6         0       1    1    3     3         0         1      1
7         0       3    1    0     2         0         0      4
8         1       3    0    1     1         0         0      3
9         1       2    0    0     2         1         0      3

In [56]:
#X : X_train : Contains all the features
#Y : Y_train : Contains the actual outpit (Survived)

#Prediction
#Train and Test data
X_train = train_df.drop("Survived", axis=1)
Y_train = train_df["Survived"]
X_test = test_df.drop("PassengerId", axis=1).copy()

In [57]:
#Run the classifier
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
Y_pred = decision_tree.predict(X_test)
accuracy = round(decision_tree.score(X_train, Y_train) * 100, 2)
print("Model Accuracy: ",accuracy)

Model Accuracy:  87.21

In [ ]:
#Create a CSV with results

submission = pd.DataFrame({
    "PassengerId": test_df["PassengerId"]
})